<ion-view title="Avaliação - Identificação">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content data-tap-disabled="true" class="has-header" ng-controller="AvCtrl">
        <button class="button button-block button-positive" ng-click="click()">Scan</button>
        <div style="margin-top: 5px;" ng-bind-html="message"></div>
    </ion-content>
</ion-view>
