<!--<body ng-app="starter">-->
<!--<ion-pane>-->
<!--<ion-header-bar class="bar-stable">-->
<!--<h1 class="title">Avaliações</h1>-->
<!--</ion-header-bar>-->
<!--<ion-content>-->

<!--<div class="row">-->
<!--<div class="col col-80 col-offset-10">-->
<!--<p>Como você avalia a lotação do ônibus?</p>-->
<!--<input type="range" id="avaliacao1" min="0" max="100" onchange="printValue(this.id)" />-->
<!--<div class="extra">-->
<!--<textarea></textarea>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col col-80 col-offset-10">-->
<!--<p>Como você avalia o conforto térmico do ônibus?</p>-->
<!--<input type="range" id="avaliacao2" min="0" max="100" onchange="printValue(this.id)" />-->
<!--<div class="extra">-->
<!--<textarea></textarea>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col col-80 col-offset-10">-->
<!--<p>Como estava a limpeza do ônibus?</p>-->
<!--<input type="range" id="avaliacao3" min="0" max="100" onchange="printValue(this.id)" />-->
<!--<div class="extra">-->
<!--<textarea></textarea>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col col-80 col-offset-10">-->
<!--<p>Como você avalia o atendimento do motorista?</p>-->
<!--<input type="range" id="avaliacao4" min="0" max="100" onchange="printValue(this.id)" />-->
<!--<div class="extra">-->
<!--<textarea></textarea>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col col-80 col-offset-10">-->
<!--<p>Como você avalia o atendimento do cobrador?</p>-->
<!--<input type="range" id="avaliacao5" min="0" max="100" onchange="printValue(this.id)" />-->
<!--<div class="extra">-->
<!--<textarea></textarea>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</ion-content>-->
<!--</ion-pane>-->
<ion-view title="Avaliação - Específica">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content data-tap-disabled="true" class="has-header" ng-controller="AvEspecificaCtrl">
        <div style="margin-top: 5px;" ng-bind-html="message"></div>
        <ion-tabs class="tabs-positive">
            <ion-tab ng-repeat="quest in spec" title="{{quest.id}}">
                <h3>Como você avalia:</h3>
                <label class="item">
                    <div class="item-content item-text-wrap">{{quest.question}}</div>
                    <div class="range custom-blue-range">
                        <i class="icon ion-thumbsdown custom-blue-icon" ng-click="zeroNote({{quest.id}})"></i>
                        <input type="range" name="spec-{{quest.id}}" id="spec-{{quest.id}}" ng-model='quest.value' class="custom-blue-icon" min="0" max="100" ng-change="change({{quest.id}})">
                        <i class="icon ion-thumbsup custom-blue-icon" ng-click="fullNote({{question.id}})"></i>
                    </div>
                    <div ng-hide="specTxtHide.{{quest.id}}" class="card avaliacao">
                        <textarea id="text-{{quest.id}}" placeholder="Descreva o motivo da nota negativa." ng-model='quest.text'></textarea>
                    </div>
                </label>
            </ion-tab>
        </ion-tabs>
    </ion-content>
    <ion-footer-bar align-title="right" class="bar-positive">
        <div class="buttons" ng-click="endEval()">
            <button class="button">Finalizar</button>
        </div>
    </ion-footer-bar>
</ion-view>
