<ion-view title="Home">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="item in items" href="#/app/{{item.url}}">
        <i class="icon {{item.logo}}"></i> {{item.title}}
      </ion-item>
      <ion-item ng-click="showGameAlert()" href>
        <i class="icon ion-android-bus"></i> Game
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
